<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>733947998.161797</string>
					<key>XcodeLocation</key>
					<string>{"Selection":{"Editor":"Xcode3BuildSettingsEditor","Target":"AISD_4","Xcode3BuildSettingsEditorLocations":[{"Collapsed Build Property Categories":[],"Selected Build Properties":["\u0001Search Paths||LIBRARY_SEARCH_PATHS"],"Xcode3BuildPropertyNameDisplayMode":1,"Xcode3BuildPropertyValueDisplayMode":0,"Xcode3BuildSettingsEditorDisplayMode":1,"Xcode3BuildSettingsEditorMode":0}]}}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AISD_4.xcodeproj</string>
					</dict>
				</dict>
				<key>type</key>
				<string>Xcode3ProjectDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>AISD_4 Build Settings</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
